extends layout

block content
	script(src="/javascripts/functions.js")

	div.download
		a(href="/download?path=#{encodeURI(component.url)}") Download
	
	h2= component.name

	p= component.description
	
	if component.author
		p
			b= "Autor: "
			= component.author
	
	hr
	
	if component.properties.length
		h4.entries Eigenschaften
		table.keywords
			each key in component.properties
				tr
					td= key.name
					td= key.type
					td= key.desc
	
	if component.methods.length
		h4.entries Methoden
		table.keywords
			each method in component.methods
				tr
					td
						if (typeof(method.returns) !== 'undefined')
							each name, index in method.returns[0].type.names
								if index > 0 
									='|'
								=name
							= ' '
						i
							u
								= method.name
						if (typeof(method.params) !== 'undefined')
							=" ("
							each param, i in method.params
								if i > 0
									= ' , '
								each type, index in param.type.names
									if index > 0
										= '|'
									i
										=type
								if (typeof(param.name) !== 'undefined')
									=' '
									=param.name
								
									
							=")"
					td= method.desc
					td
						each param in method.params ? method.params : []
							b= param.name
							b= ':'
							=' '
							=param.description
							br
								
							
	
	if component.publish.length
		h4.entries Publizierte Topics
		table.keywords
			each key in component.publish
				tr
					td: a(href="/keywords/#{key.name}") #{key.name}
					td= key.type
					td= key.description
					
	if component.subscription.length
		h4.entries Abonnierte Topics
		table.keywords
			each key in component.subscription
				tr
					td: a(href="/keywords/#{key.name}") #{key.name}
					td= key.type
					td= key.description

