extends layout

block content
	h2= component.name

	p= component.description
	
	if component.author
		p
			b= "Author: "
			= component.author
	
	hr
	
	if component.properties.length
		h4.entries Properties
		table.keywords
			each key in component.properties
				tr
					td= key.name
					td= key.type
					td= key.description
	
	if component.methods.length
		h4.entries Methods
		table.keywords
			each key in component.methods
				tr
					td= key.name
					td= key.type
					td= key.description
	
	if component.publish.length
		h4.entries Publish keys
		table.keywords
			each key in component.publish
				tr
					td= key.name
					td= key.type
					td= key.description
					
	if component.subscription.length
		h4.entries Subscribe keys
		table.keywords
			each key in component.subscription
				tr
					td= key.name
					td= key.type
					td= key.description

