extends layout

block content

	script(src="/javascripts/jquery-1.11.3.min.js")
	script(src="/javascripts/search.js")

	h1= title
	
	h3= "Suchkategorie auswählen"
	select(id="choose_cat",onchange="chooseCategory(this.value);")
		option(value="properties")= "Eigenschaften"
		option(value="methods")= "Methoden"
		option(value="smartComposition")= "SmartCompostion"
		
	select(id="properties", style="display: block;")
		option= "Boolean"
		option= "Date"
		option= "Number"
		option= "String"
		option= "Array"
		option= "Object"
		
	select(id="methods_in_out", style="display: none;")
		option(value="params")= "Parameter"
		option(value="return")= "Rückgabewert"
		
	select(id="methods_datatypes", style="display: none;")
		option= "Boolean"
		option= "Number"
		option= "String"
		option= "Array"
		option= "Object"
		
	select(id="smartComposition_pubsub", style="display: none;")
		option(value="publish")= "Publish"
		option(value="subscribe")= "Subscribe"
		
	select(id="smartComposition_type", style="display: none;")
		option= "Boolean"
		option= "Number"
		option= "String"
		option= "Array"
		option= "Object"
		
	button(class="search", onclick="search_component();")= "Suchen"
	
	script(type='text/javascript').
		chooseCategory();
	
	div(id="results")
